.homepage-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // background-color: rgb(248, 248, 248);
  // background-color: #0d1117;
  // background-color: #0d1117;

  .h1-container {
    width: 60%;
    max-width: 1150px;
    text-align: left;
    // margin-bottom: 10px;
    h1 {
      color: black;
    }
  }
  .cards-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: red;
  }
}
@media (max-width: 1450px) {
  .homepage-main {
    .h1-container {
      width: 90%;
    }
  }
}
